<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>MediAI Healthcare Report</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='report.css') }}">

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
rel="stylesheet">

</head>

<body>

<div class="report">

<!-- ================================================= -->

<div class="top-header">

<div class="logo-section">

<div class="logo">

🩺

</div>

<div>

<h1>MediAI</h1>

<h3>Healthcare Assistant</h3>

<p>AI-Powered Health Assessment</p>

</div>

</div>

<div class="title-section">

<h1>

AI HEALTHCARE
</h1>

<p>

Machine Learning + Generative AI

</p>

</div>

<div class="report-details">

<table>

<tr>

<td><strong>Report ID</strong></td>

<td>{{ report_id }}</td>

</tr>

<tr>

<td><strong>Date</strong></td>

<td>{{ date }}</td>

</tr>

<tr>

<td><strong>Status</strong></td>

<td>

<span class="completed">

Completed

</span>

</td>

</tr>

<tr>

<td><strong>Version</strong></td>

<td>v1.0</td>

</tr>

</table>

</div>

</div>

<!-- ================================================= -->

<div class="blue-line"></div>

<div class="two-column">

<div class="box">

<div class="box-title">

👤 PATIENT INFORMATION

</div>

<table class="info-table">

<tr>

<td>Name</td>

<td>{{ name }}</td>

</tr>

<tr>

<td>Age</td>

<td>{{ age }} Years</td>

</tr>

<tr>

<td>Gender</td>

<td>{{ gender }}</td>

</tr>

<tr>

<td>Height</td>

<td>{{ height }} cm</td>

</tr>

<tr>

<td>Weight</td>

<td>{{ weight }} kg</td>

</tr>

<tr>

<td>BMI</td>

<td>{{ bmi }}</td>

</tr>

<tr>

<td>BMI Status</td>

<td>{{ bmi_status }}</td>

</tr>

<tr>

<td>Risk Level</td>

<td>

<span class="risk {{ risk|lower }}">

{{ risk }}

</span>

</td>

</tr>

</table>

</div>

<div class="box">

<div class="box-title">

❤️ VITAL INFORMATION

</div>

<div class="vital-grid">

<div class="vital-card">

<div class="icon">

🌡

</div>

<h3>{{ temperature }}</h3>

<p>Temperature</p>

<span>

{{ temperature_status }}

</span>

</div>

<div class="vital-card">

<div class="icon">

🫁

</div>

<h3>{{ spo2 }}%</h3>

<p>SpO₂</p>

<span>

{{ spo2_status }}

</span>

</div>

<div class="vital-card">

<div class="icon">

💚

</div>

<h3>

{{ health_score }}/100

</h3>

<p>

Health Score

</p>

<span>

{{ health_summary }}

</span>

</div>

<div class="vital-card">

<div class="icon">

🛡

</div>

<h3>

{{ risk }}

</h3>

<p>

Risk Level

</p>

<span>

Patient Risk

</span>

</div>

</div>

</div>

</div>

